{block content}
<h1>Sklad - detail</h1>
<form n:name='odebratZboziForm'>
    Název: <input n:name='name'><br />
    Cena: <input n:name='price'><br />
    <input n:name='submit' value='Odebrat zboží'>

</form>
