{block content}
<h1>Prodej - změna množství</h1>
<form n:name='zmenitMnozstviForm'>
    <input n:name="id" value="{$produkt->id}" />
    Nové množství: <input n:name='amount'><br />
    <input n:name='submit' value='Změnit množství'>

</form>
